
@{
    ViewData["Title"] = "Socail Link";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">

    @if (ViewBag.social == null)
    {

        <form asp-action="addSocial" method="post" enctype="multipart/form-data">
            <div class="row" style="display:inline">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Facebook</label>
                        <input type="text" name="facebook" required class="form-control" />
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group">
                        <label>Twitter</label>
                        <input type="text" name="twitter" required class="form-control" />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Linkdin</label>
                        <input type="text" name="linkdin" required class="form-control" />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Google+</label>
                        <input type="text" name="google" required class="form-control" />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Pinterest</label>
                        <input type="text" name="pinterest" required class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-12" style=" padding: 10px;
        text-align: center;">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    }

    @if (ViewBag.social != null)
    {

        <form asp-action="updateSocial" method="post" enctype="multipart/form-data">
            <div class="row" style="display:inline">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Facebook</label>
                        <input type="text" name="facebook" value="@ViewBag.social.facebook" required class="form-control" />
                        <input type="hidden" name="id" value="@ViewBag.social.id" required class="form-control" />
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group">
                        <label>Twitter</label>
                        <input type="text" name="twitter" value="@ViewBag.social.twitter"  required class="form-control" />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Linkdin</label>
                        <input type="text" name="linkdin"  value="@ViewBag.social.linkdin" required class="form-control" />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Google+</label>
                        <input type="text" name="google" value="@ViewBag.social.google" required class="form-control" />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Pinterest</label>
                        <input type="text" name="pinterest" value="@ViewBag.social.pinterest" required class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-12" style=" padding: 10px;
        text-align: center;
">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    }

</div>

