@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" />

<script>
    function myFunction(id) {
        $.ajax({
            /* the route pointing to the post function */
            url: '/Home/saveWishList/' + id,
            type: 'GET',
            /* send the csrf-token and the input to the controller */
            data: {},
            /* remind that 'data' is the response of the AjaxController */
            success: function (data) {
                alert(data);
            }
        });
    }
</script>
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-box text-center">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href="/Home">Home</a></li>
                        <li class="list-inline-item"><span>||</span> Compare Products</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="category">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="category-box">
                    <div class="sec-title">
                        <h6>Categories</h6>
                    </div>
                    <!-- accordion -->
                    <div id="accordion">
                        @foreach (var item in ViewBag.category)
                        {
                            <div class="card">
                                <div class="card-header">
                                    <a href="/Home/SubCategories/@item.id">
                                        @item.name
                                    </a>
                                </div>

                            </div>
                        }

                    </div>
                </div>
                <div class="cat-brand">
                    <div class="sec-title">
                        <h6>Brands</h6>
                    </div>
                    <div class="brand-box">
                        <ul class="list-unstyled">
                            @foreach (var item in ViewBag.brands)
                            {
                                <li>
                                    <a href="/Home/getAllProductsByBrand/@item.id">
                                        @item.name
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>

                <div class="add-box">
                    <a href="#"><img src="images/s-banner2.jpg" alt="" class="img-fluid"></a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="product-box">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="grid" role="tabpanel">
                            <div class="row">

                                @foreach (var item in ViewBag.products)
                                {
                                    <div class="col-lg-4 col-md-6">
                                        <div class="tab-item">
                                            <div class="tab-img">
                                                <img class="main-img img-fluid" src="/@item.product_image" alt="">
                                            </div>
                                            <div class="tab-heading">
                                                <p><a href="/Home/ProductDetails/@item.id">@item.product_name</a></p>
                                            </div>
                                            <div class="img-content d-flex justify-content-between">
                                                <div>
                                                    <ul class="list-unstyled list-inline price">
                                                        <li class="list-inline-item" style="    text-decoration: none;">Rs @item.product_price</li>
                                                    </ul>
                                                </div>
                                                <div>
                                                    <a href="javascript:void(0)"
                                                       onclick="addTocard(@item.id)"
                                                       data-toggle="tooltip" data-placement="top" title="Add to Cart"><img src="~/assets/images/it-cart.png" alt=""></a>

                                                    <script type="text/javascript">
                                                        function addTocard(id) {

                                                            $.ajax({
                                                                /* the route pointing to the post function */
                                                                url: '/Home/AddtoCart?product_id=' + id,
                                                                type: 'GET',
                                                                /* send the csrf-token and the input to the controller */
                                                                data: {},
                                                                /* remind that 'data' is the response of the AjaxController */
                                                                success: function (data) {
                                                                    if (data == 200) {
                                                                        var cardcount = document.getElementById('cardcount');
                                                                        var count = parseInt(cardcount.innerHTML) + 1;
                                                                        cardcount.innerHTML = count.toString();

                                                                        Swal.fire({
                                                                            title: 'Success!',
                                                                            text: 'Product added into cart',
                                                                            icon: 'success',
                                                                        })
                                                                    } else {
                                                                        Swal.fire({
                                                                            title: 'Success!',
                                                                            text: 'Already addd',
                                                                            icon: 'success',
                                                                        })
                                                                    }

                                                                }
                                                            });
                                                        }
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>